body {
  background-color: DodgerBlue;
  color: yellow;
  font-family: Arial;
}

h1 {
  color: yellow;
  font-family: Arial;
  font-size: 40px;
}

img {
  width: 450px;
  height: 400px;
  opacity:0.8;
  border-style: dotted;
  border-width: 5px;
}

.wrapper {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

p {
	font-family: Arial;
}